In [12]:
import pandas as pd
import numpy as np

In [13]:
cd

C:\Users\CVR

In [14]:
hd = pd.read_csv("C:\\Users\\CVR\\Downloads\\ecommerce_dataset_updated.csv")

In [15]:
hd

,User_ID,Product_ID,Category,Price (Rs.),Discount (%),Final_Price(Rs.),Payment_Method,Purchase_Date
0,337c166f,f414122f-e,Sports,36.53,15,31.05,Net Banking,12-11-2024
1,d38a19bf,fde50f9c-5,Clothing,232.79,20,186.23,Net Banking,09-02-2024
2,d7f5f0b0,0d96fc90-3,Sports,317.02,25,237.76,Credit Card,01-09-2024
3,395d4994,964fc44b-d,Toys,173.19,25,129.89,UPI,01-04-2024
4,a83c145c,d70e2fc6-e,Beauty,244.80,20,195.84,Net Banking,27-09-2024
...,...,...,...,...,...,...,...,...
3655,67abda0a,28714133-6,Beauty,486.79,0,486.79,UPI,14-05-2024
3656,34ebc1a0,08838c2c-9,Toys,212.87,15,180.94,Cash on Delivery,19-11-2024
3657,1defd3b1,c39a4f16-6,Home & Kitchen,389.76,0,389.76,Net Banking,07-08-2024
3658,0611293d,b4f67f96-9,Electronics,447.66,30,313.36,UPI,21-05-2024
3659,e73ad07c,a5d07442-d,Home & Kitchen,235.77,30,165.04,UPI,14-04-2024

In [16]:
hd.head()

,User_ID,Product_ID,Category,Price (Rs.),Discount (%),Final_Price(Rs.),Payment_Method,Purchase_Date
0,337c166f,f414122f-e,Sports,36.53,15,31.05,Net Banking,12-11-2024
1,d38a19bf,fde50f9c-5,Clothing,232.79,20,186.23,Net Banking,09-02-2024
2,d7f5f0b0,0d96fc90-3,Sports,317.02,25,237.76,Credit Card,01-09-2024
3,395d4994,964fc44b-d,Toys,173.19,25,129.89,UPI,01-04-2024
4,a83c145c,d70e2fc6-e,Beauty,244.80,20,195.84,Net Banking,27-09-2024

In [20]:
hd.shape

(3660, 8)

In [18]:
hd.columns

Index(['User_ID', 'Product_ID', 'Category', 'Price (Rs.)', 'Discount (%)',
       'Final_Price(Rs.)', 'Payment_Method', 'Purchase_Date'],
      dtype='object')

In [25]:
hd.iloc[10:20,1:3]

    Product_ID        Category
10  b2b1af7b-7           Books
11  e221cf14-c          Beauty
12  8c9a5f54-b  Home & Kitchen
13  eeb0635d-a          Sports
14  38aec303-2        Clothing
15  69d91fbc-3  Home & Kitchen
16  928b4b24-d            Toys
17  12f03ff4-6  Home & Kitchen
18  729191af-4     Electronics
19  089c1cdd-0        Clothing

In [24]:
hd.isnull().sum()

User_ID             0
Product_ID          0
Category            0
Price (Rs.)         0
Discount (%)        0
Final_Price(Rs.)    0
Payment_Method      0
Purchase_Date       0
dtype: int64

In [27]:
hd.loc[:, "Category"]

0               Sports
1             Clothing
2               Sports
3                 Toys
4               Beauty
             ...
3655            Beauty
3656              Toys
3657    Home & Kitchen
3658       Electronics
3659    Home & Kitchen
Name: Category, Length: 3660, dtype: object

In [29]:
hd.loc[1:,"Category"]

1             Clothing
2               Sports
3                 Toys
4               Beauty
5                Books
             ...
3655            Beauty
3656              Toys
3657    Home & Kitchen
3658       Electronics
3659    Home & Kitchen
Name: Category, Length: 3659, dtype: object

In [30]:
hd.iloc[:,1].unique()

array(['f414122f-e', 'fde50f9c-5', '0d96fc90-3', ..., 'c39a4f16-6',
       'b4f67f96-9', 'a5d07442-d'], dtype=object)

In [34]:
df=hd.drop_duplicates()
df

,User_ID,Product_ID,Category,Price (Rs.),Discount (%),Final_Price(Rs.),Payment_Method,Purchase_Date
0,337c166f,f414122f-e,Sports,36.53,15,31.05,Net Banking,12-11-2024
1,d38a19bf,fde50f9c-5,Clothing,232.79,20,186.23,Net Banking,09-02-2024
2,d7f5f0b0,0d96fc90-3,Sports,317.02,25,237.76,Credit Card,01-09-2024
3,395d4994,964fc44b-d,Toys,173.19,25,129.89,UPI,01-04-2024
4,a83c145c,d70e2fc6-e,Beauty,244.80,20,195.84,Net Banking,27-09-2024
...,...,...,...,...,...,...,...,...
3655,67abda0a,28714133-6,Beauty,486.79,0,486.79,UPI,14-05-2024
3656,34ebc1a0,08838c2c-9,Toys,212.87,15,180.94,Cash on Delivery,19-11-2024
3657,1defd3b1,c39a4f16-6,Home & Kitchen,389.76,0,389.76,Net Banking,07-08-2024
3658,0611293d,b4f67f96-9,Electronics,447.66,30,313.36,UPI,21-05-2024
3659,e73ad07c,a5d07442-d,Home & Kitchen,235.77,30,165.04,UPI,14-04-2024

In [35]:
hd.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
3655    False
3656    False
3657    False
3658    False
3659    False
Length: 3660, dtype: bool

In [36]:
hd.describe()

       Price (Rs.)  Discount (%)  Final_Price(Rs.)
count  3660.000000   3660.000000       3660.000000
mean    254.800675     18.825137        206.906579
std     141.682621     14.731338        122.687844
min      10.090000      0.000000          5.890000
25%     134.012500      5.000000        104.512500
50%     253.845000     15.000000        199.185000
75%     377.595000     25.000000        304.117500
max     499.960000     50.000000        496.820000

In [39]:
hd.rename(columns={"Category": "category"})

,User_ID,Product_ID,category,Price (Rs.),Discount (%),Final_Price(Rs.),Payment_Method,Purchase_Date
0,337c166f,f414122f-e,Sports,36.53,15,31.05,Net Banking,12-11-2024
1,d38a19bf,fde50f9c-5,Clothing,232.79,20,186.23,Net Banking,09-02-2024
2,d7f5f0b0,0d96fc90-3,Sports,317.02,25,237.76,Credit Card,01-09-2024
3,395d4994,964fc44b-d,Toys,173.19,25,129.89,UPI,01-04-2024
4,a83c145c,d70e2fc6-e,Beauty,244.80,20,195.84,Net Banking,27-09-2024
...,...,...,...,...,...,...,...,...
3655,67abda0a,28714133-6,Beauty,486.79,0,486.79,UPI,14-05-2024
3656,34ebc1a0,08838c2c-9,Toys,212.87,15,180.94,Cash on Delivery,19-11-2024
3657,1defd3b1,c39a4f16-6,Home & Kitchen,389.76,0,389.76,Net Banking,07-08-2024
3658,0611293d,b4f67f96-9,Electronics,447.66,30,313.36,UPI,21-05-2024
3659,e73ad07c,a5d07442-d,Home & Kitchen,235.77,30,165.04,UPI,14-04-2024

In [43]:
hd["Price (Rs.)"].mean()

254.80067486338797

In [44]:
hd["Price (Rs.)"].median()

253.845

In [45]:
hd["Price (Rs.)"].mode()

0    185.53
1    286.09
2    335.09
3    410.07
Name: Price (Rs.), dtype: float64

In [46]:
hd["Price (Rs.)"].std()

141.68262131940907

In [53]:
#n = hd.select_dtypes(include=['number']).columns
#hd[n] = hd[n].fillna(hd[n].mean())

In [54]:
#hd.isnull().sum()

User_ID             0
Product_ID          0
Category            0
Price (Rs.)         0
Discount (%)        0
Final_Price(Rs.)    0
Payment_Method      0
Purchase_Date       0
dtype: int64

In [58]:
hd.isna().sum()

User_ID             0
Product_ID          0
Category            0
Price (Rs.)         0
Discount (%)        0
Final_Price(Rs.)    0
Payment_Method      0
Purchase_Date       0
dtype: int64