# Assignment on Store_sales dataset

**Load the Dataset**

In [1]:
import pandas as pd
sales=pd.read_csv("store_sales.csv")
sales.head(15)

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
0,S_1,Texas,8,20,13,21,17,20,24,17,16,9,7,6
1,S_2,California,12,19,15,15,11,19,7,15,10,11,21,19
2,S_3,California,16,16,14,19,23,6,13,13,15,14,24,8
3,S_4,Texas,8,18,13,10,14,14,6,8,8,18,7,11
4,S_5,Texas,19,5,24,9,5,24,10,5,24,15,6,13
5,S_6,California,14,21,18,20,21,5,18,24,7,12,11,5
6,S_7,Arizona,11,22,5,14,16,24,8,15,18,14,17,20
7,S_8,California,15,8,5,15,12,21,17,19,13,6,24,15
8,S_9,Texas,15,7,6,20,5,18,19,15,19,17,22,5
9,S_10,California,14,23,20,11,12,13,19,6,5,22,17,16
10,S_11,Arizona,15,24,8,15,24,21,6,21,20,13,14,15
11,S_12,California,6,18,21,8,5,8,11,9,21,17,18,22
12,S_13,Arizona,7,12,18,15,19,9,17,24,23,23,14,7
13,S_14,Texas,21,7,22,11,10,6,7,23,15,7,9,12
14,S_15,Arizona,12,6,14,21,6,13,23,17,13,21,9,18

**Calculate the total sales for each store across all months.**

In [2]:
sales['Total_Sales'] = sales.iloc[:, 2:].sum(axis=1)
print(sales[['store_id', 'Total_Sales']])

   store_id  Total_Sales
0       S_1          178
1       S_2          174
2       S_3          181
3       S_4          135
4       S_5          159
..      ...          ...
95     S_96          185
96     S_97          154
97     S_98          168
98     S_99          173
99    S_100          180

[100 rows x 2 columns]

**Find the average sales for each month across all stores**

In [3]:
average_monthly_sales = sales.iloc[:, 2:].mean()
print(average_monthly_sales)

Jan             14.46
Feb             15.09
Mar             14.56
Apr             14.57
May             13.56
Jun             13.80
July            14.38
Aug             15.81
Sep             14.91
Oct             14.10
Nov             15.31
Dec             13.57
Total_Sales    174.12
dtype: float64

**Identify the store with the highest total sales.**

In [4]:
sales['Total_Sales'] = sales.iloc[:, 2:].sum(axis=1)
highest_sales_store = sales.loc[sales['Total_Sales'].idxmax()]
print(highest_sales_store[['store_id', 'Total_Sales']])

store_id       S_62
Total_Sales     428
Name: 61, dtype: object

**Calculate the total sales for each city.**

In [12]:
city_sales = sales.iloc[:, 2:].groupby(sales['city']).sum().sum(axis=1)
print(city_sales)

city
Arizona       23706
California    45132
Texas         35634
dtype: int64

**List stores with total sales greater than 200**

In [6]:
sales['Total_Sales'] = sales.iloc[:, 2:].sum(axis=1)
stores_above_200 = sales[sales['Total_Sales'] > 200]
print(stores_above_200[['store_id', 'Total_Sales']])

   store_id  Total_Sales
0       S_1          534
1       S_2          522
2       S_3          543
3       S_4          405
4       S_5          477
..      ...          ...
95     S_96          555
96     S_97          462
97     S_98          504
98     S_99          519
99    S_100          540

[100 rows x 2 columns]

**Which month had the highest average sales across all stores?**

In [7]:
monthly_avg_sales = sales.iloc[:, 2:-1].mean()
month_with_highest_avg_sales = monthly_avg_sales.idxmax()
highest_avg_sales = monthly_avg_sales.max()

In [8]:
print(f"The month with the highest average sales is {month_with_highest_avg_sales} with an average sales of {highest_avg_sales:.2f}.")

The month with the highest average sales is Aug with an average sales of 15.81.

**Which city generated the most revenue?**

In [10]:
sales['Total_Sales'] = sales.iloc[:, 2:].sum(axis=1)
city_sales = sales.groupby('city')['Total_Sales'].sum()
city_with_highest_sales = city_sales.idxmax()
highest_sales = city_sales.max()

In [11]:
print(f"The city with the highest total sales is {city_with_highest_sales} with a total sales of {highest_sales:.2f}.")

The city with the highest total sales is California with a total sales of 37610.00.