In [1]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv("headbrain.csv")

In [4]:
data

     Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0         1          1             4512                 1530
1         1          1             3738                 1297
2         1          1             4261                 1335
3         1          1             3777                 1282
4         1          1             4177                 1590
..      ...        ...              ...                  ...
232       2          2             3214                 1110
233       2          2             3394                 1215
234       2          2             3233                 1104
235       2          2             3352                 1170
236       2          2             3391                 1120

[237 rows x 4 columns]

In [12]:
x=data['Head Size(cm^3)']
y=data['Brain Weight(grams)']

In [15]:
x1=np.mean(x)
y1=np.mean(y)
print(x1)
print(y1)

3633.9915611814345
1282.873417721519

In [18]:
m=sum((np.array(x) - x1) * (np.array(y) - y1))/sum((np.array(x) - x1)**2)
print("The slope is:",m)
c=y1-(m*x1)
print("The intercept is:",c)
print(f"The equation of line is: y={m}x+{c}")

The slope is: 0.26342933948939945
The intercept is: 325.57342104944223
The equation of line is: y=0.26342933948939945x+325.57342104944223

In [20]:
y_p=m*np.array(x)+c
#print(y_p)
error=sum((y_p-y1)**2)/sum((np.array(y)-y1)**2)
print("Error rate is",error)

R_squared=1-(sum((y_p-y1)**2)/sum((np.array(y)-y1)**2))
print("Accuracy is:",R_squared)

Error rate is 0.6393117199570001
Accuracy is: 0.3606882800429999