## Pandas Lab Exercise (Kaggle Automobile Dataset)

We shall now test your skills in using Pandas package. We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. 

Answer each question asked below wrt the automobiles dataset. Load pandas as pd and upload the Automobile.csv file as auto

In [1]:
import pandas as pd

**Load the Automobile dataset into variable "auto"**

In [2]:
auto = pd.read_csv("Automobile.csv")

**Check the head of the DataFrame.**

In [3]:
auto.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

**How many rows and columns are there?**

In [4]:
rows=auto.shape[0]
print("rows :",rows)

rows : 201

In [5]:
col=auto.shape[1]
print("columns :",col)

columns : 26

**What is the average Price of all cars in the dataset?**

In [7]:
average_price = auto['price'].mean()
print(f"The average price of all cars in the dataset is ${average_price:.2f}")

The average price of all cars in the dataset is $13207.13

**Which is the cheapest make and costliest make of car in the lot?**

In [9]:
cheap = auto[auto['price'] == auto['price'].min()]
cheapest_make = cheap['make'].iloc[0]
cheapest_price = cheap['price'].iloc[0]
print(f"The cheapest car is a {cheapest_make} priced at ${cheapest_price:.2f}")

The cheapest car is a subaru priced at $5118.00

In [12]:
costliest = auto[auto['price'] == auto['price'].max()]
costliest_make = costliest['make'].iloc[0]
costliest_price = costliest['price'].iloc[0]
print(f"The costliest car is a {costliest_make} priced at ${costliest_price:.2f}")

The costliest car is a mercedes-benz priced at $45400.00

**How many cars have horsepower greater than 100?**

In [13]:
cars_with_high_hp = auto[auto['horsepower'] > 100]
num_cars = cars_with_high_hp.shape[0]
print(f"Number of cars with horsepower greater than 100: {num_cars}")

Number of cars with horsepower greater than 100: 90

**How many hatchback cars are in the dataset ?**

In [16]:
hatchback_cars = auto[auto['body_style'] == 'hatchback']
num_hatchback_cars = hatchback_cars.shape[0]

In [17]:
print(f"Number of hatchback cars in the dataset: {num_hatchback_cars}")

Number of hatchback cars in the dataset: 68

**What are the 3 most commonly found cars in the dataset?**

In [18]:
car_make_counts = auto['make'].value_counts()
top_3_car_makes = car_make_counts.head(3)

In [19]:
print("The 3 most commonly found car makes in the dataset are:")
print(top_3_car_makes)

The 3 most commonly found car makes in the dataset are:
toyota    32
nissan    18
mazda     17
Name: make, dtype: int64

**Someone purchased a car for 7099, what is the make of the car?**

In [20]:
car_with_price_7099 = auto[auto['price'] == 7099]
make_of_car = car_with_price_7099['make'].iloc[0]
print(f"The make of the car purchased for $7099 is {make_of_car}.")

The make of the car purchased for $7099 is nissan.

**Which cars are priced greater than 40000?**

In [21]:
cars_above_40000 = auto[auto['price'] > 40000]
print("Cars priced greater than $40,000 are:")
cars_above_40000

Cars priced greater than $40,000 are:

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
15,0,149,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315
70,0,140,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.80,3.35,8.0,184,4500,14,16,40960
71,1,140,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.80,3.35,8.0,184,4500,14,16,45400

**Which are the cars that are both a sedan and priced less than 7000?**

In [22]:
sedans_under_7000 = auto[(auto['body_style'] == 'sedan') & (auto['price'] < 7000)]
print("Sedan cars priced less than $7000 are:")
sedans_under_7000

Sedan cars priced less than $7000 are:

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
19,0,81,chevrolet,gas,std,four,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.6,70,5400,38,43,6575
24,1,148,dodge,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6692
42,0,110,isuzu,gas,std,four,sedan,rwd,front,94.3,...,111,2bbl,3.31,3.23,8.5,78,4800,24,29,6785
50,1,113,mazda,gas,std,four,sedan,fwd,front,93.1,...,91,2bbl,3.03,3.15,9.0,68,5000,31,38,6695
82,1,125,mitsubishi,gas,std,four,sedan,fwd,front,96.3,...,122,2bbl,3.35,3.46,8.5,88,5000,25,32,6989
86,1,128,nissan,gas,std,two,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,5499
88,1,128,nissan,gas,std,two,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,6649
89,1,122,nissan,gas,std,four,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,6849
118,1,154,plymouth,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6692
152,0,91,toyota,gas,std,four,sedan,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,30,37,6938

 **Count the number of unique values in the `fuel_type` column.**

In [24]:
unique_fuel_types = auto['fuel_type'].nunique()
print(f"Number of unique fuel types: {unique_fuel_types}")

Number of unique fuel types: 2

**List all the cars that have a horsepower between 100 and 200, and display their `make`, `horsepower`, and `price`.**

In [25]:
cars_hp_between_100_and_200 = auto[(auto['horsepower'] >= 100) & (auto['horsepower'] <= 200)]
cars_hp_info = cars_hp_between_100_and_200[['make', 'horsepower', 'price']]
print("Cars with horsepower between 100 and 200:")
cars_hp_info

Cars with horsepower between 100 and 200:

            make  horsepower  price
0    alfa-romero         111  13495
1    alfa-romero         111  16500
2    alfa-romero         154  16500
3           audi         102  13950
4           audi         115  17450
..           ...         ...    ...
196        volvo         114  16845
197        volvo         160  19045
198        volvo         134  21485
199        volvo         106  22470
200        volvo         114  22625

[88 rows x 3 columns]

**Find the average `city_mpg` and `highway_mpg` for each `body_style`.**

In [29]:
average_mpg_by_body_style = auto.groupby('body_style')[['city_mpg', 'highway_mpg']].mean()
print("Average city_mpg and highway_mpg for each body_style:")
average_mpg_by_body_style

Average city_mpg and highway_mpg for each body_style:

              city_mpg  highway_mpg
body_style
convertible  20.500000    26.000000
hardtop      21.625000    27.250000
hatchback    26.602941    32.382353
sedan        25.053191    30.574468
wagon        24.040000    28.720000

**What is the median `price` for each `make`?**

In [28]:
median_price_by_make = auto.groupby('make')['price'].median()
print("Median price for each make:")
median_price_by_make

Median price for each make:

make
alfa-romero      16500.0
audi             17580.0
bmw              22835.0
chevrolet         6295.0
dodge             7609.0
honda             7295.0
isuzu             8916.5
jaguar           35550.0
mazda            10595.0
mercedes-benz    32892.0
mercury          16503.0
mitsubishi        8499.0
nissan            8124.0
peugot           16630.0
plymouth          7609.0
porsche          33278.0
renault           9595.0
saab             15275.0
subaru            7894.0
toyota            9103.0
volkswagen        9737.5
volvo            18420.0
Name: price, dtype: float64

**List all cars that have a `wheel_base` greater than 100 and a `curb_weight` less than 2500.**

In [30]:
filtered_cars = auto[(auto['wheel_base'] > 100) & (auto['curb_weight'] < 2500)]
filtered_cars_info = filtered_cars[['make', 'wheel_base', 'curb_weight']]
print("Cars with wheel_base > 100 and curb_weight < 2500:")
filtered_cars_info

Cars with wheel_base > 100 and curb_weight < 2500:

       make  wheel_base  curb_weight
9       bmw       101.2         2395
10      bmw       101.2         2395
169  toyota       102.4         2326
170  toyota       102.4         2480
171  toyota       102.4         2414
172  toyota       102.4         2414
173  toyota       102.4         2458

**Create a new column `price_per_hp` that calculates the price of the car per horsepower.**

In [32]:
auto['price_per_hp'] = auto['price'] / auto['horsepower']
print("Dataset with the new 'price_per_hp' column:")
auto[['make', 'price', 'horsepower', 'price_per_hp']].head()

Dataset with the new 'price_per_hp' column:

          make  price  horsepower  price_per_hp
0  alfa-romero  13495         111    121.576577
1  alfa-romero  16500         111    148.648649
2  alfa-romero  16500         154    107.142857
3         audi  13950         102    136.764706
4         audi  17450         115    151.739130

**Count how many cars have a `number_of_doors` as `four`.**

In [33]:
cars_with_four_doors = auto[auto['number_of_doors'] == 'four']
count_four_doors = cars_with_four_doors.shape[0]
print(f"Number of cars with four doors: {count_four_doors}")

Number of cars with four doors: 114

**Find the top 5 cars based on their `highway_mpg` and `price`.**

In [35]:
top_5_cars = auto.sort_values(by=['highway_mpg', 'price'], ascending=[False, False])
top_5_cars_info = top_5_cars[['make', 'highway_mpg', 'price']].head(5)
print("Top 5 cars based on highway_mpg and price:")
top_5_cars_info

Top 5 cars based on highway_mpg and price:

          make  highway_mpg  price
29       honda           54   6479
17   chevrolet           53   5151
87      nissan           50   7099
155     toyota           47   7788
156     toyota           47   7738

**How many cars have missing values in the `normalized_losses` column?**

In [36]:
missing_values_count = auto['normalized_losses'].isnull().sum()
print(f"Number of cars with missing values in the 'normalized_losses' column: {missing_values_count}")

Number of cars with missing values in the 'normalized_losses' column: 0

**Create a new column `car_age` that calculates the age of the car based on the `year_of_manufacture` (assume the current year is 2025).**

In [37]:
current_year = 2025
auto['car_age'] = current_year - auto['year_of_manufacture']
print("Dataset with the new 'car_age' column:")
print(auto[['make', 'year_of_manufacture', 'car_age']].head())

KeyError: 'year_of_manufacture'

### The END